/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}

/* Main CSS */
ul {
    display: flex;
    justify-content: center;
    background-color: #ff3300;
    list-style: none;
}

ul li {
    position: relative;
}

ul li a {
    display: inline-block;
    padding: 15px 20px;
    width: 150px;
    text-align: center;
    background-color: #ff3300;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: black;
}

/* First-level submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: #ff3300;
    z-index: 10;
}

.mainmenu:hover .submenu {
    display: flex;
}

/* Second-level submenu */
.submenu2 {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    flex-direction: column;
    background-color: #ff3300;
}

.menu:hover .submenu2 {
    display: flex;
}
/* Name | Email */
p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 20px;
    color: rgb(71, 67, 67);
}
.details{
    display: flex;
    gap: 12px;
    margin: 80vh auto;
    justify-content: center;
}